body{
    background-color: black;
}

h1{
    color: white;
}

div{
    text-align: center;
}

button{
    height: 2.2em;
        width: 5.5em;
        border: none;
        color: white;
}

button:hover{
    cursor: pointer;
}

.start-btn{
    background-color: #51ff00;
}

.pause-btn{
    background-color: #ffc800;
}

.stop-btn{
    background-color: #ff001e;
}